// FILEPATH: /c:/Users/jorge/OneDrive/Escritorio/Marketplace/Funcionalidades/users/users/templates/signup.html

{% extends 'base.html' %}

{% block content %}
    <h2>Registro de Usuario</h2>
    <form method="post">
        {% csrf_token %}
        <label for="user_type">Tipo de Usuario:</label>
        <select name="user_type" id="user_type">
            <option value="agricultor">Agricultor</option>
            <option value="ganadero">Ganadero</option>
            <option value="consumidor">Consumidor</option>
        </select>
        <br><br>
        <label for="email_phone">Correo electrónico o número de teléfono:</label>
        <input type="text" name="email_phone" id="email_phone">
        <br><br>
        <label for="password">Contraseña:</label>
        <input type="password" name="password" id="password">
        <br><br>
        <button type="submit">Registrarse</button>
    </form>
{% endblock %}
