<!-- FILEPATH: /c:/Users/jorge/OneDrive/Escritorio/Empezando de nuevo/notifications/templates/notification_list.html -->

{% extends 'base.html' %}

{% block content %}
    <h1>Notificaciones</h1>
    <ul>
        {% for notification in notifications %}
            <li>
                <div class="notification">
                    <div class="notification__message">{{ notification.message }}</div>
                    <div class="notification__date">{{ notification.date }}</div>
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
